<!DOCTYPE html>
<html lang="en" >

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Calcola Istituti</title>

<script src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<div ng-app>


<div class="head btn-block" style="padding:15px; margin:0px 0 15px 0">
  <h1 class="giorni">{{ ((rcgo - rcma + rol + f1 + ccrc )/ 6.66)+(rcgg - ardo) | number:2 }}</h1>
  <h3>GIORNI GODUTI</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col">

<div class="card border-dark mb-3">
  <div class="card-header h5"><i class="far fa-clock"></i> INSERIRE DATI IN ORE</div>
  <div class="card-body">

		<div class="input-group input-group-lg">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroup-sizing-lg">RCGO</span>
		  </div>
		  <input ng-model="rcgo" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
		</div>

		<div class="input-group input-group-lg">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroup-sizing-lg">RCMA</span>
		  </div>
		  <input ng-model="rcma" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
		</div>

		<div class="input-group input-group-lg">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroup-sizing-lg">ROL</span>
		  </div>
		  <input ng-model="rol" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
		</div>

		<div class="input-group input-group-lg">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroup-sizing-lg">F1</span>
		  </div>
		  <input ng-model="f1" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
		</div>

		<div class="input-group input-group-lg">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroup-sizing-lg">CCRC</span>
		  </div>
		  <input ng-model="ccrc" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
		</div>

  </div>
</div>


<div class="card border-dark mb-3">
  <div class="card-header h5"><i class="far fa-calendar-plus"></i> INSERIRE DATI IN GIORNI</div>
  <div class="card-body">

		<div class="input-group input-group-lg">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroup-sizing-lg">RCGG</span>
		  </div>
		  <input ng-model="rcgg" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
		</div>

		<div class="input-group input-group-lg">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroup-sizing-lg">ARDO</span>
		  </div>
		  <input ng-model="ardo" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
		</div>

  </div>
</div>


<div class="box">
	<div class="icon">
		<div class="image"><i class="fa fa-desktop"></i></div>
		<div class="info">
			<h3 class="title">Dove recupero i dati?</h3>
				<p>
				Da RiprasWin -> Richieste e Stampe -> Stampe -> Giustificativi. <br/> Una volta settate le date corrette clicca su stampe e recupera l'ultima pagina con i totali del mese.
			</p>
		</div>
	</div>
	<div class="space"></div>
</div>


	      </div>
	    </div>
	</div>
</div>